<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tfg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBT3BkCpwiTinLqos5gesu8yKKwCTxe2Go" />

        <activity
            android:name=".personalProfile.PersonalProfileActivity"
            android:exported="true"
            android:label="PersonalProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".personalHome.PersonalHomeActivity"
            android:exported="true"
            android:label="PersonalHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".adminProfile.AdminProfileActivity"
            android:exported="true"
            android:label="AdminProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".route.RouteActivity"
            android:exported="true"
            android:label="RouteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".reportTemp.ReportTempActivity"
            android:exported="true"
            android:label="ReportTempActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".adminPanel.AdminPanelActivity"
            android:exported="true"
            android:label="AdminPanelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".points.PointsActivity"
            android:exported="true"
            android:label="PointsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".map.MapActivity"
            android:exported="true"
            android:label="MapActivity"
            android:theme="@style/Theme.TFG"
            android:screenOrientation="portrait" />

        <activity
            android:name=".register.RegisterActivity"
            android:exported="true"
            android:label="RegisterActivity"
            android:theme="@style/Theme.TFG"
            android:screenOrientation="portrait" />

        <activity
            android:name=".reportAdd.ReportActivity"
            android:label="ReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".reportAdd.SelectLocationActivity"
            android:label="SelectLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".reportAdd.SelectPhotoActivity"
            android:label="SelectPhotoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="Mr. Bin"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>